.container-fluid {
    max-width: 1200px;
}

.navbar-right {
    justify-content: end;
}

.nav-item {
    display: flex;
    justify-content: end;
}

/* .image-container {
    position: relative;
    height: 90%;
} */

/* to make images appear in squares */

.image-container {
    position: relative;
    overflow: hidden;
    height: 90%;
    padding-bottom: 100%;
}

/* to make images appear in squares */

.image-container img {
    position: absolute;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-link,
.author-link,
.page-link {
    text-decoration: none;
    color: inherit;
}

.title-link:hover,
.author-link:hover {
    color: #6c757d;
}

.page-link {
    text-decoration: none;
    color: #6c757d;
    border: 1px solid rgba(0, 0, 0, .125);
}

.page-link:hover {
    color: inherit;
    background-color: rgba(0, 0, 0, .125);
}

.page-link:focus {
    color: inherit;
}

.github {
    text-decoration: none;
}

#hide {
    display: inline-block;
    max-width: 0%;
    vertical-align: bottom;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 1s ease-in-out;
}

a.github {
    color: inherit;
}

.github:hover #hide {
    max-width: 100%;
}