<!-- Base tags-->
{% extends "base.html" %}
<!-- Crispy form tags -->
{% load crispy_forms_tags %}
<!-- Block content-->
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h3>Create a post</h3>
      <p>
        Use the form below to create a post. Remember to upload an image,
        include a title, and a description. Thank You!
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 mb-3">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
