{% extends "base.html" %} {% block content %}
<!-- load crispy forms -->
{% load crispy_forms_tags %}

<div class="container">
  <div class="col-lg-6 col-md-6 mx-auto">
    <div class="card h100">
      <div>
        <img
          src="{{ post.image.url }}"
          alt="Image"
          class="card-img-top"
          width="100%"
        />
      </div>
      <div class="card-body">
        <div>
          <h5 class="card-title">{{ post.title }}</h5>
        </div>
        <div>
          <h6 class="card-text">
            <a href="#" class="author-link">{{ post.author }}</a>
          </h6>
          <p class="card-text">
            <small class="text-muted"
              >{{ post.created_on|date:'M d, Y' }}</small
            >
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Description</h5>
        <p>{{ post.description }}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div>
          <h5 class="card-title">Comments</h5>
        </div>
        {% for comment in comments %}
        <div>
          <span class="text-muted font-weight-normal">
            {{ comment.created_on|date:'M d, Y \a\\t P' }}
          </span>
          <p class="font-weight-bold">{{ comment.u_name }} wrote:</p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h5>Leave a comment:</h5>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ comment_form | crispy }} {% csrf_token %}
          <button type="submit" class="btn auth-btn btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
