{% extends "base.html" %}
<!-- Crispy form tags -->
{% load crispy_forms_tags %}
<!-- block tag -->
{% block content %}
<div class="container-fluid mt-3">
  <div class="row mx-auto col-lg-6">
    <h3 class="mb-3">Hi {{ user.username }}!</h3>
    <hr />
    <h6>Welcome to your profile page.</h6>
    <h6>You can update your details using the form below if you require.</h6>
    <div>
      {% if "placeholder" in profile.image.url %}
      <img
        class="card-img-top my-3 profile-img"
        src="https://res.cloudinary.com/dfsv2olye/image/upload/v1697560113/default_profile_mjdh7j.png"
        alt="Profile image"
      />
      {% else %}
      <img
        class="card-img-top my-3 profile-img"
        src="{{ profile.image.url }}"
        alt="Profile image"
      />
      {% endif %}
    </div>
    <div>
      <h5 class="mt-3">About:</h5>
      <p>{{ profile.about_user }}</p>
    </div>
  </div>
  <div>
    <div class="row mx-auto col-lg-6">
      <form
        class="signup"
        id="signup_form"
        method="post"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <!-- edit user -->
        {{ edit_user|crispy }}
        <!-- edit profile -->
        {{ edit_profile|crispy }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn my-3 fw-bold auth-btn right" type="submit">
          Update
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
