{% extends "base.html" %} {% block content %}
<h1>{{ user.username }}</h1>
<div class="image-container">
  {% if "placeholder" in profile.image.url %}
  <img
    class="card-img-top"
    src="https://res.cloudinary.com/dfsv2olye/image/upload/v1697560113/default_profile_mjdh7j.png"
    width="100%"
  />
  {% else %}
  <img class="card-img-top" src="{{ profile.image.url }}" />
  {% endif %}
  <!-- <div class="image-flash">
    <p class="author">Author: {{ post.author }}</p>
  </div> -->
</div>
{% endblock %}
